<strong>Olá, {{student}}</strong>
<p>Confirmado sua matrícula</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br/>
  <strong>Data inicial: </strong> {{start_date}} <br />
  <strong>Data final: </strong> {{ end_date }} <br />
  <strong>Valor Total: </strong> {{price}}<br />
</p>
